.home-container
  display: flex nowrap
  width: 100%
  padding: 1.5rem 
  background-color: white
  position: relative

  .frame
    height: 100vh
    max-height: 730px
    position: relative
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, .25)
    margin: 0
    overflow: hidden

  h2.subhead
    line-height: 0rem

svg
  position: absolute
  bottom: -2px
  left: 28.5%
  height: 98%
  width: auto

.svg-shape
  mix-blend-mode: multiply
  fill-opacity: .75
  transition: all .35s linear
  &:hover
    fill-opacity: .1

.works-wrap
  padding: 1rem
  display: flex
  flex-flow: row wrap
  justify-content: center
  width: 100%
  margin: auto

  .row
    justify-content: center

  .link-box
    position: relative
    width: 300px
    height: 250px
    margin: 2rem
    padding: .5rem
    box-shadow: 0 7px 12px 0 rgba(0, 0, 0, .25)

    .logo-wrap
      display: flex
      justify-content: center
      width: 100%
      height: 80%

      img
        width: 100%
        max-width: 200px
        align-self: center
        flex: 0 0 auto

    &.tcs-box
      background-color: $black-text
      color: $tan
    
    &.aether-box
      background-color: $aether-orange

    &.lucera-box
      img
        max-width: 120px

    &.alpine-box
      background-color: $yellow

    h3
      font-size: 1.5rem
      text-align: center

.link-wrap
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%