.tcs-container
  background-color: $tan
  width: 100%
  text-align: center
  display: flex

  .frame
    align-self: center
    background-color: white
    margin: 2% 
    padding: 0
    box-shadow: 0 10px 10px 2px #aaa
    max-width: 1400px

    .row
      margin: 0 3% 0 6% 
  h1
    color: $pink
    font-size: 6em
    letter-spacing: -0.15rem
    text-align: center
    margin-top: 4rem
  
.tcs-card
  display: block
  margin: 0 auto
  width: 100%
  max-width: 980px
  padding: 4rem 4rem 2rem

.frame
  .row
    .body-copy
      width: auto
      margin-right: 10%
      text-align: left
    
    .tcs-round
      display: block
      margin: 15% auto
      width: 70%

    .chart-1
      align-self: flex-start
      flex: 0 0 auto
      width: 60%
      padding-top: 1rem
      max-width: 760px